body {
  font: Normal 100% Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  color: #222;
}

#logo { text-align: center; }

#desc { font-size: 80%; padding-bottom: 2em; border-bottom: 1px #000 solid; }

/*

#container {
  margin: 20px auto 0 auto;
  padding: 20px 0 1px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  width: 35em;
}


form {
  padding: 10px 16px;
  text-align: center;
  margin: 0;
}


form #inputbox { width: 80%; font-size: 1.2em; }
form input.searchbutton { font-size: 1.35em; }
*/

#content {
  min-height: 150px;
  padding: 5px 25px 28px;
	color: white;
}

#content table { margin-top: 22px; font-size: .95em; }
#content table th { text-align: left; }
#content tr { line-height: 115%; }
#content table td.trigger { font-weight:bold; padding: 0 29px 0 0; }

#footer {
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
  font-size: 1.1em;
}

#search-box {
position: relative;
width: 100%;
/* margin: 0; */
margin: auto;
}

#search-form {
height: 40px;
border: 1px solid #999;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #fff;
overflow: hidden;
}

#search-text {
font-size: 14px; 
color: #ddd;
border-width: 0;
background: transparent;
}

#search-box input[type="text"]
{
width: 90%;
padding: 11px 0 12px 1em;
color: #333;
outline: none;
}

#search-button {
position: absolute;
top: 0;
right: 0;
height: 42px;
width: 80px;
font-size: 14px;
color: #fff;
text-align: center;
line-height: 42px;
border-width: 0;
background-color:#8a0000;
-webkit-border-radius: 0px 5px 5px 0px;
-moz-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px;
cursor: pointer;
}

#centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  width: 75%;
  height: 50%;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay li {
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

h2, h3, h4, p {
    color: #999999;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
